# Ignore everything
*

# Re-include the things we actually want
!/app.js
!/i18next-parser.config.js
!/package.json
!/package-lock.json
!/Gruntfile.js
!/app/
!/config/
!/locales/
!/public/
!/scripts/
!/setup/docker/

# Include so that .tag.txt can be generated
# TODO generate this file at build-time?
!/.git/
